<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <div class="blog-item">
                <h3><%= blog.title %></h3>
                <p><%= blog.body %></p>
            </div>
        <% }); %>
    <% } else { %>
        <h4>No blogs!</h4>
    <% } %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>