<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h1><%= blog.title %></h1>
        <p><%= blog.body %></p>
        <hr/>
        <p>
            <a class="delete" data-doc="<%= blog.id %>">Delete</a>
            <a class="edit" href="/blogs/<%= blog.id %>/edit">Edit</a>
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>

    <script>
        const trash = document.querySelector('a.delete');

        trash.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trash.dataset.doc}`;
            
            fetch(endpoint, {
                method: 'DELETE',
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(error => console.log(error));
        });
    </script>
</body>
</html>