<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-blog content">
        <form action="/blogs/<%= blog.id %>/edit" method="post">
            <label for="title">Blog title:</label>
            <input type="text" id="title" name="title" value="<%= blog.title %>" required>
            <label for="snippet">Blog snippet:</label>
            <input type="text" id="snippet" name="snippet" value="<%= blog.snippet %>" required>
            <label for="body">Blog body:</label>
            <textarea id="body" name="body" required><%= blog.body %></textarea>
            <button type="submit">Update</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>